body{
    background-color: antiquewhite;
}
#header{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    padding-left: 40px;
}
#main-content{
    background-color: lightsalmon;
}
#footer{
    background-color: red;
}
#menu-wrapper{
    display: flex;
    min-width: 70%;
    justify-content: space-around;
}